
body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

header{
padding:10px;
background:#020617;
display:flex;
gap:10px;
align-items:center;
}

#mapContainer{
position:relative;
width:100%;
height:90vh;
overflow:hidden;
}

#floorImage{
position:absolute;
width:100%;
height:100%;
object-fit:contain;
opacity:.9;
}

#terminalsLayer{
position:absolute;
width:100%;
height:100%;
}

.terminal{
position:absolute;
width:40px;
height:40px;
background:#16a34a;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:10px;
cursor:grab;
}

#panel{
position:fixed;
right:0;
top:0;
width:300px;
height:100%;
background:#1e293b;
padding:20px;
overflow:auto;
}

.hidden{
display:none;
}

#panel input,
#panel textarea{
width:100%;
margin-bottom:10px;
}
